{% extends "/layouts/base.html" %}

{% block about %}
<p>
  Parker Ramsay is known in the United States, Europe and Asia both as an 
  accomplished soloist and accompanist. He has performed in venues including 
  the Concertgebouw in Amsterdam, Washington National Cathedral, Princeton 
  University Chapel, the National Center for the Performing Arts in Beijing, 
  and the Kimmel Center in Philadelphia. Festival appearances have included 
  the Gergiev Festival in Rotterdam, the Dubrovnik Summer Music Festival, 
  the Cambridge Summer Music Festival, the Cambridge New Music Project, the 
  800 Jahre Thomana Celebration in Leipzig, and the 2012 American Guild of 
  Organists National Convention, premiering a newly commissioned work, Phos, 
  by Diana Burrell.
</p>
<p>
  Parker is currently pursuing a master’s degree in 
  historical performance (organ and harpsichord) at Oberlin Conservatory. 
  Prior to his arrival at Oberlin, he served as Organ Scholar at King's 
  College, Cambridge (the first American selected for this prestigious 
  position), serving under the direction of Stephen Cleobury, whilst 
  undertaking undergraduate studies in history. His tenure as organ scholar 
  included two international tours, four recordings, as well as numerous 
  television and radio broadcasts, including the service of Nine Lessons and 
  Carols on December 24, 2012. In addition to accompanying the choir of 
  King’s College, Parker has also had the opportunity to play for the Royal 
  School of Church Music America summer programs, and has accompanied choirs 
  such as the Vienna Boys Choir and the Choir of Clare College, Cambridge. 
  As an accompanist, Parker has also collaborated with conductors such as 
  Simon Preston, David Hill, Tim Brown, Brian Kelly, Paul Trepte, Graham Ross 
  and Sarah MacDonald.
</p>
<p>
  A native of Nashville, Tennessee, Parker began harp 
  study at age eleven with Carol McClure, Artistic Director of The Harp School 
  (USA) and organ study at age twelve with Wilma Jensen, Music Director 
  Emerita of St. George's Episcopal Church in Nashville. While studying in 
  England, Parker studied organ with David Sanger and William Whitehead, and 
  harp with Skaila Kanga and Isabelle Perrin. At the organ, he has 
  participated in master classes with Ludger Lohmann, Oliver Latry, Peter 
  Williams, Lorenzo Ghielmi and Jon Laukvik. He presently studies organ with 
  James David Christie and harpsichord with Webb Wiggins at Oberlin 
  Conservatory, and pursues private harp study with Sivan Magen. 
</p>
{% endblock %}
