{% extends "/layouts/base_no_side.html" %}

{% block events %}
<h1>
  Recital
</h1>
<ul>
  <li>
    Sep. 17, 2014 | 20.00
  </li>
  <li>
    Fairchild Chapel, Oberlin College
  </li>
</ul>

<h1>
    Sweelinck International Organ Competition
</h1>
<ul>
  <li>
    Sep. 24-26
  </li>
  <li>
    Oudekerk, Amsterdam and St. Bavokerk, Haarlem
  </li>
</ul>


<h1>
  Recital
</h1>
<ul>
  <li>
    Oct. 3, 2014 | 19.00
  </li>
  <li>
    Trinity College, Hartford, CT
  </li>
</ul>


<h1>
  Bach - Brandenburg Concerto no. 5 
</h1>
<ul>
  <li>
    Nov. 2, 2014 | 19.30
  </li>
  <li>
    Umstattd Performing Arts Hall, Canton, OH
  </li>
  <li>
    Appearance with the Canton Sympony Orchestra
  </li>
</ul>


<h1>
  Recital
</h1>
<ul>
  <li>
    Nov. 16, 2014 | 16.00
  </li>
  <li>
    St. Luke Catholic Church, McClean, VA
  </li>
  <li>
    Sponsored by the Northern Virginia, DC Potomac Chapters of the American 
    Guild of Organists
  </li>
</ul>

<h1>
  Bach by Candlelight
</h1>
<ul>
  <li>
    Nov. 21, 2014 | 19.30
  </li>
  <li>
    Trinity Cathedral, Cleveland, OH
  </li>
  <li>
    Appearance with Todd Wilson and the Choir of Trinity Cathedral
  </li>
</ul>

<h1>
  Recital
</h1>
<ul>
  <li>
    Dec. 7, 2014 | 17.15
  </li>
  <li>
    St. Thomas Church, Fifth Avenue, NYC
  </li>
</ul>
{% endblock %}
