{% extends "/layouts/base.html" %}

{% block events %}
<h1>
  Recital
</h1>
<p>
  Sep. 17, 2014 | 20.00
</p>
<p>
  Fairchild Chapel, Oberlin College
</p>

<h1>
  <em>
    Sweelinck International Organ Competition
</h1>
<p>
  Sep. 24-26
</p>
<p>
  Oudekerk, Amsterdam and St. Bavokerk, Haarlem
</p>


<h1>
  Recital
</h1>
<p>
  Oct. 3, 2014 | 19.00
</p>
<p>
  Trinity College, Hartford, CT
</p>


<h1>
  Bach - Brandenburg Concerto no. 5 
</h1>
<p>
  Nov. 2, 2014 | 19.30
</p>
<p>
  Umstattd Performing Arts Hall, Canton, OH
</p>
<p>
  Appearance with the Canton Sympony Orchestra
</p>


<h1>
  Recital
</h1>
<p>
  Nov. 16, 2014 | 16.00
</p>
<p>
  St. Luke Catholic Church, McClean, VA
</p>
<p>
Sponsored by the Northern Virginia, DC Potomac Chapters of the American Guild of Organists
</p>


<h1>
  Recital
</h1>
<p>
  Dec. 7, 2014 | 17.15
</p>
<p>
  St. Thomas Church, Fifth Avenue, NYC
</p>
{% endblock %}
