{% extends "/layouts/base_no_side.html" %}

{% block for_hire %}
<img id="logo" src="/static/logo.png" alt="Tenth Muse">
<h1>Mission</h1>
<p>
  The musicians of Tenth Muse have a very simple goal: to integrate music 
  from the past with that of the present on period instruments. Inventive 
  programming is at the core of the project, using alternative spaces around 
  the campus at Oberlin College to combine early and contemporary music with 
  spoken word and visual art composed by Obies.  From Italian toccatas to 
  minimalist works for harpsichords, to composing new works for period 
  instruments and electronics, Tenth Muse is neither a “early music group” 
  or a “contemporary music ensemble.” Instead, Tenth Muse invites listeners 
  to be immersed into a cohesive musical experience, centered on artistic 
  themes, musical ideas or even the spaces in which we are performing. 
</p>
<h1>Events</h1>
<ul>
  <li>
    Dec. 2, 2014 | 21.15
  </li>
  <li>
    Fairchild Chapel, Oberlin College
  </li>
  <li>
    New compositions for three harpsichords by Peter Kramer and Parker Ramsay
  </li>
</ul>

{% endblock %}
