<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      Parker Ramsay
    </title>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
  </head>
  <body>
    <div class="wrap">
      <header>
        <h1>
          <a href="/">Parker Ramsay</a>
        </h1>
      </header>
      <menu id="nav">
        <ul>
          <li>
            <a href="/">About</a>
          </li>
          <li>
            <a href="/events">Events</a>
          </li>
          <li>
            <a href="/media">Media</a>
          </li>
          <li>
            <a href="/tenth_muse">Tenth Muse</a>
          </li>
          <li>
            <a href="/contact">Contact</a>
          </li>
        </ul>
      </menu>
    </div>
    <div class="wrap">
      <div class="side-bar">
        <img src="/static/media/PS_9.jpg" alt="pic">
        <div class="vcard">
          <h1>
            <a href="/static/Parker Ramsay Resume.pdf" 
              target="_blank">Click Here for Parker's Resume</a>
          </h1>
        </div>
      </div>
      <div class="page-content">
        {% block home %}
        {% endblock %}
        {% block about %}
        {% endblock %}
        {% block events %}
        {% endblock %}
        {% block media %}
        {% endblock %}
        {% block for_hire %}
        {% endblock %}
        {% block contact %}
        {% endblock %}
      </div>
    </div>
    <footer>
      <h3>&copy by Farnsworth 2014</h3>
    </footer>
  </body>
</html>

