/* http://meyerweb.com/eric/tools/css/reset/ 
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ################################################# */

html {
  max-width: 100%;
  margin: 0 auto;
  font-family: Futura;
  overflow-y: scroll;
}
body {
  max-width: 1000px;
  padding: 10px;
  margin: 0 auto;
}
.wrap {
  width: 96%;
  padding: 2%;
  margin-bottom: 5px;
  border-bottom: 1px solid #777777;
  display: inline-block;
}
header {
  font-size: 240%;
  float: left;
}
header a {
  text-decoration: none;
  color: #222222;
}
#nav {
  font-size: 92%;
  padding-top: 15px;
  float: right;
}
#nav a {
  text-decoration: none;
  color: #777777;
}
#nav a:hover {
  color: #222222;
}
#nav li:before {
  color: #777777;
  content: "|";
}
#nav li:first-child:before {
  content: none;
}
#nav ul li {
  display: inline-block;
}
.side-bar { 
  width: 35%;
  font-size: 75%;
  float: right;
}
.side-bar img {
  webkit-border-radius: 5px;
     moz-border-radius: 5px;
         border-radius: 5px;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
.side-bar a {
  text-decoration: none;
  color: #777777;
}
.side-bar a:hover {
  color: #222222;
}
.vcard {
  padding-top: 8px;
  line-height: 30px;
  text-align: center;
}
.vcard h1 {
  font-size: 1.5vmax;
}
.page-content {
  width: 62%;
  padding: 0 3% 1% 0;
  line-height: 25px;
  font-size: 110%;
  color: #222222;
  float: left;
}
.page-content a {
  text-decoration: none;
  color: #777777;
}
.page-content a:hover {
  color: #222222;
}
.page-content h1 {
  font-size: 110%;
}
.page-content p {
  text-align: justify;
  text-indent: 1.5em;
  padding-bottom: 15px;
}
.page-content ul {
  padding-bottom: 35px;
}
.page-content li {
  padding-left: 20px;
  color: #777777;
}
@media screen and (max-width: 750px) {
  .side-bar { width: 100%;
              margin: 0 auto;
              padding-bottom: 10px;
              text-align: center;
              border-bottom: 1px solid #333; }
  .vcard h1 { font-size: 2vmax; }
  .page-content { width: 100%;
                  padding-top: 10px;}
}
@media screen and (max-width: 360px) {
  #nav { font-size: 75%; }
}
footer {
  text-align: center;
  color: #777777;
  clear: both;
}

