/* http://meyerweb.com/eric/tools/css/reset/ 
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ################################################# */

html {
  max-width: 1000px;
  background-color: yellow;
  margin: 0 auto;
}
header {
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
  padding: 10px;
  border-bottom: 1px solid black;
  background-color: white;
  color: white;
}
header h1 {
  font-size: 200%;
  padding: 20px;
}
header a {
  text-decoration: none;
}
menu {
  max-width: 100%;
  margin: 0 auto;
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid black;
  text-align: center;
}
menu li {
  display: inline;
}
menu a {
  display: inline-block;
  text-decoration: none;
  text-decoration: none;
  padding: 10px;
}
.page-content {
  max-width: 100%;
  margin: 0 auto;
  background-color: white;
  text-align: justify;
  padding: 10px;
  overflow: hidden;
  clear: both;
}
.page-content p {
  margin: 5px;
}
#portrait {
  max-width: 100%;
  padding: 0 0 10px 10px;
  height: auto;
  float: right;
}
#portrait-2 {
  max-width: 75%;
  padding: 0 10px 10px 0;
  height: auto;
  float: left;
}
@media screen and (max-width: 1100px) {
  #portrait   { max-width: 75%; }
  #portrait-2 { max-width: 55%; }
}
@media screen and (max-width: 650px) {
  #portrait   { max-width: 50%; }
  #portrait-2 { max-width: 35%; }
}
footer {
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
  background-color: white;
}
